.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #070b0b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.login-btn {
  background: none;
  color: white;
  cursor: pointer;
  border: none;
  
}

.login-btn:hover {
  color: aqua;
  font-weight: bold;
  
}
.nav-links a:hover {
  color: aqua;
  font-weight: bold;
}


